apiVersion: batch/v1
kind: Job
metadata:
  name: db-init-job
  namespace: php-poc
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: db-init
          image: mysql:8.0
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_HOST
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASS
          command:
            - sh
            - -c
            - |
              echo "Waiting for DB..."
              sleep 20
              mysql -h $DB_HOST -u $DB_USER -p$DB_PASS $DB_NAME < /sql/init.sql
          volumeMounts:
            - name: sql-volume
              mountPath: /sql
      volumes:
        - name: sql-volume
          configMap:
            name: db-init-sql
