apiVersion: apps/v1
kind: Deployment
metadata:
  name: office-locator-prod
  namespace: php-poc-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: office-locator-prod
  template:
    metadata:
      labels:
        app: office-locator-prod
    spec:
      containers:
        - name: office-locator-prod
          image: REPLACED_BY_CICD   # <-- GitHub Actions will update this
          ports:
            - containerPort: 80
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_HOST

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER

            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASS
